.pageg {
  display: flex;
  width: 600px;
  height: 600px;
}
.zurag1 {
  display: flex;
}
.zurag1 img {
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
}
.zurag2 img {
  width: 200px;
  height: 200px;
}
.zurag3 img {
  width: 200px;
  height: 200px;
}

.nud1 {
  position: relative;
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
}
.z2 {
  position: absolute;
  left: 0px;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  mix-blend-mode: multiply;
  transition: all 0.1s linear;
}
.nud1:hover .z2 {
  left: -300px;
}
